bin/build
bin/dist
bin/output
*.pyc

\.idea/

src/SimNDT/engine/EFIT2Dcython (Case Conflict).c

# Virtual environments
.venv*/
venv/
env/

# Compiled Cython extensions
*.pyd
*.so

# Generated outputs
*.png

# FMC data
*.npy

*.csv